{#<!DOCTYPE html>#}
<html>
    <head>
        {% block contenttype %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link type="text/css" href="{{ asset('bundles/mqmshop/js/jqueryui/css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            {% block analytics %}
                {#{% include "GoogleBundle:Analytics:async.html.twig" %}#}
            {% endblock analytics %}

            {% block libraries %}
                <script src="{{ asset('bundles/mqmshop/js/jqueryui/js/jquery-1.6.2.min.js') }}"></script>
                <script src="{{ asset('bundles/mqmshop/js/jqueryui/js/jquery-ui-1.8.16.custom.min.js') }}"></script>
                <script src="{{ asset('bundles/mqmshop/js/kernel.js') }}"></script>
            {% endblock libraries %}
        {% endblock javascripts %}
        {% block jsfunctions %}{% endblock jsfunctions %}
                <!--Desarrollado por:
        Diseño grafico y maquetación: Amar Bouchekioua.
        Programación de la aplicacion: Mario Quesada.
        Agradecimiento:
        Javier Vidal Moreno-->
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block bodyjavascripts %}{% endblock %}
    </body>
</html>
